@media (max-width: 2000px) and (min-width: 1510px){
	main{
    margin-left: 16% !important;
}
	.right-content{
		margin-left: 16% !important;
}
	label{
		font-size: 20px !important;
	}
	.shod{
    font-size: 28px !important;
    height: 300px !important;
}
.shod-3{
    font-size: 28px !important;
    height: 300px !important;
}
}
@media (min-width: 1301px) and (max-width: 1509px){
	.right-content{
		margin-left: 20% !important;
	}
	label{
		font-size: 20px !important;
	}
	.shod{
    font-size: 28px !important;
    height: 250px !important;
}
.shod-3{
    font-size: 28px !important;
    height: 250px !important;
}
}
@media (max-width: 1300px) and (min-width: 980px) {
	body{
		font-size: 13px !important;
		min-width: 1000px !important;
		transition: 0.3s all;
	}
	label{
		font-size: 20px !important;
	}
	.right-content{
		margin-left: 20% !important;
	}
	.name-course li::before{
    font-size: 13px !important;
}
	.nav-under{
		font-size: 13px !important;
	}
	.shod{
  	  font-size: 25px !important;	
  	  height: 220px !important;
}
.shod-3{
    font-size: 25px !important;
    height: 220px !important;
}
}
@media (max-width: 980px) and ( min-width: 801px ){
	body{
		font-size: 13px !important;
		min-width: 780px !important;
		transition: 0.3s all;
	}
	.name-course li::before{
    font-size: 8px !important;
}

	.nav-under{
		font-size: 8px !important;
	}
	.right-content{
		margin-left: 20% !important;
	}
	.left-content{
		min-width: 135px !important;
		font-size: 13px !important;
		transition: 0.3s all;

	}
	label{
		font-size: 13px !important;
	}
	.shod{
    font-size: 20px !important;
    height: 180px !important;
}
.shod-3{
    font-size: 20px !important;
    height: 180px !important;
}
}

@media (max-width: 801px){
	body{
		font-size: 10px !important;
		min-width: 780px !important;
	}
	.left-content{
		font-size: 13px !important;
		min-width: 136px !important;
	}
	.name-course li::before{
    font-size: 8px !important;
}
	label{
		font-size: 13px !important;
	}
	.nav-under{
		font-size: 8px !important;
	}
	.right-content{
		margin-left: 20% !important;
	}
	.shod{
    font-size: 18px !important;
    height: 120px !important;
}
.shod-3{
    font-size: 18px !important;
    height: 120px !important;
}
.shod{
    font-size: 18px !important;
    height: 120px !important;
}
}